* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.hospital_brand {
  display: flex;
  align-items: baseline;
  margin-bottom: -10px;
}
.h-icon {
  font-size: 40px;
}
.content-container {
  width: 90%;
  margin: auto;
  height: 100%;
  background-color: #dcdcdc;
  position: relative;
  top: 60px;
}
.graph-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  height: 60vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.p_add_form {
  padding: 40px;
}
.p_view_form {
  padding: 40px;
}
.patients_list {
  display: flex;
  justify-content: center;
}
.p_content,
th {
  padding: 5px 40px;
  background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
  margin: 10px;
}
.p_content,
td {
  border: 1px solid #861657;
}
.search_patients tr,
td {
  text-align: center;
}
.p_delete_icon {
  color: red;
  font-size: 20px;
}
.p_edit_icon {
  color: seagreen;
  font-size: 20px;
}
.form-control:focus {
  box-shadow: none;
}
.form-select:hover {
  box-shadow: none;
}
.mb-3 input:hover {
  cursor: pointer;
  border-color: #861657;
}

.btn:hover {
  box-shadow: none;
}
.btn::after {
  box-shadow: none;
}
.mb-3 input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.nav-item:hover {
  background-color: #fff;
  color: black;
  border-radius: 50px;
}
table.stafftable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #861657;
  border-style: solid;
  color: #000000;
}

table.stafftable td,
table.stafftable th {
  border-width: 1px;
  border-color: #861657;
  border-style: solid;
  padding: 3px;
}

table.stafftable thead {
  background-color: #861657;
}
.desktop_text {
  display: none;
}

@media only screen and (max-width: 800px) {
  .graph-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .graph-section div {
    width: 70%;
  }
  .p_view_form {
    display: none;
  }
  .desktop_text {
    display: block;
  }
}
